/***Cabecera Principal*** -> Principal | Productos | Formulario | Quienes somos | Contacto - estilos*/
body {
  font-family: 'Helvetica', sans-serif; /* Fuente más moderna y legible */
  color: #7c57ac; /* Un tono de púrpura más oscuro y moderno */
  background-color: #F4F4F9; /* Fondo claro para una apariencia fresca y limpia */
}
  
.ContornoPrincipal {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
  text-align: center;
  background-color: #FFFFFF; /* Fondo blanco para resaltar el contenido */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidad */
}
    
.BannerLogo {
  text-align: center;
  margin: 0 auto;
  padding: 1em 0;
  background-color: #EDE7F6; /* Fondo suave en tono lila */
  border: none; /* Sin bordes para un look más limpio */
  border-radius: 5px;
}
    
.BannerLogo img {
  width: 100%;
  max-width: 500px; /* Ajuste de tamaño para un look más moderno */
}

.OpcionesMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
  background-color: #EDE7F6; /* Fondo suave en tono lila */
  border: none; /* Sin bordes para un look más moderno */
  border-radius: 5px;
  gap: 1rem;
}

.OpcionesMenu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.OpcionesMenu li {
  margin: 0 0.5em;
  padding: 0.5em 1em;
  border: none; /* Sin bordes para un look más limpio */
  border-radius: 5px;
}

.OpcionesMenu a {
  display: block;
  text-decoration: none;
  color: #a438e7; /* Púrpura más vibrante para enlaces */
  font-size: 1.5rem;
  transition: color 0.3s;
  border-radius: 5px;
}

.OpcionesMenu a:hover {
  color: #FFFFFF; /* Texto blanco al pasar el ratón */
  background-color: #9C27B0; /* Púrpura más intenso para el hover */
}

main {
  padding: 20px;
}

.credito {
  text-align: center;
  padding: 1em;
  font-size: 0.9rem;
  color: #6A1B9A; /* Manteniendo la coherencia del color púrpura */
}

/* Principal - Estilo */
.collage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.producto {
  flex: 0 0 220px;
  height: 220px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 5px;  /* Bordes redondeados para un look moderno */
  background-color: #ffffff; /* Fondo blanco para destacar cada producto */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra más ligera para un efecto sutil */
}

.producto:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más intensa para efecto de elevación */
}

.producto img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover; /* Cambio a 'cover' para mejor ajuste de las imágenes */
}

/* Productos - estilo */
.ProductosContenedores {
  font-style: normal; /* Eliminación del estilo cursiva para mayor legibilidad */
  font-size: 0.9rem;
  color: #4A306D; /* Púrpura más oscuro y moderno */
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Grid responsive */
  grid-gap: 1rem;
}

.italic {
  font-style: italic; /* Mantener la posibilidad de usar itálica donde sea necesario */
}

.boton-detalle-carrito {
  border: none;
  background-color: #9C27B0; /* Color más vibrante de púrpura */
  padding: 10px 20px;
  cursor: pointer;
  transition: box-shadow 0.3s, transform 0.3s; /* Agregar transformación para efecto al hacer hover */
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.boton-detalle-carrito:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); /* Pequeña elevación al hacer hover */
}

nav ul li a:hover {
  border-bottom: 2px solid #6A1B9A; /* Púrpura más oscuro para enlaces hover */
}

.ProductoContenido {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff; /* Fondo blanco para destacar el contenido */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidad */
}

.ProductoContenido img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.ProductoContenido h4 {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
  color: #4A306D; /* Usando el mismo color púrpura oscuro para los títulos */
}

.ProductoContenido p {
  line-height: 1.5;
  text-align: center;
  color: #5E2750; /* Un tono más claro de púrpura para el texto */
}

.ProductoContenido span {
  text-align: center;
  margin-top: 10px;
  color: #5E2750; /* Manteniendo consistencia de color en los detalles */
}
  
.ProductosContenedores:hover .imagen-completa {
  display: block; /* Asegurarse de que el hover sobre el contenedor muestra la imagen completa si está oculta */
}

/* Formulario de Envio - Estilo */

/* Estilos generales del formulario */
.formulario-pedido {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #FFFFFF; /* Fondo blanco para claridad */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra más marcada para profundidad */
  border-radius: 8px;
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="email"],
textarea {
  background-color: #f8f9fa; /* Color de fondo más suave */
  color: #495057; /* Color de texto gris oscuro para mejor legibilidad */
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ced4da; /* Borde más sutil */
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%; /* Ajuste a ancho completo para mejor responsividad */
}

/* Estilos para el botón de enviar, cancelar y elegir otro producto */
.boton {
  background-color: #6c757d; /* Tono de gris moderno y neutro */
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.3s, transform 0.3s;
  border-radius: 4px;
  margin-top: 10px;
  width: auto; /* Ajuste automático según el contenido */
  text-align: center;
  display: block; /* Hace que el botón ocupe su propio espacio */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.boton:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
  background-color: #5a6268; /* Oscurecimiento al hacer hover */
}

/* Estilos para las etiquetas */
label {
  font-size: 16px; /* Tamaño de fuente unificado */
}

/* Estilos específicos para el carrito y los productos listados */
#carrito-container {
  margin-top: 20px;
  background: #f8f9fa;
  padding: 15px;
  border-radius: 4px;
}

#lista-productos {
  list-style-type: none;
  padding: 0;
}

#lista-productos li {
  margin-bottom: 10px;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

#lista-productos img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  object-fit: cover;
  border-radius: 5px;
}

/* Estilos para el total del carrito */
#total {
  font-weight: bold;
  color: #333; /* Mejor visibilidad */
}

.espacio {
  display: flex;
  justify-content: space-around;
}

/* Contacto */
.contacto {
  border: 2px solid #ced4da; /* Un color de borde más suave */
  padding: 20px;          
  margin: 20px;           
  border-radius: 15px;    
  width: 300px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1); /* Sombra más ligera */
  background-color: #ffffff; /* Fondo blanco para un look limpio y moderno */
}

.contacto a {
  text-decoration: none;
  color: #007bff; /* Azul brillante para enlaces */
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.contacto a i {
  margin-right: 10px;
}

/* Estilo específico para el icono de WhatsApp */
.contacto a[href*="wa.me"] i {
  color: #25d366; /* Color verde de WhatsApp, manteniendo el icono reconocible */
}

/* Texto */
.texto {
  padding: 20px;
}

.texto h1 {
  color: #6c757d; /* Gris oscuro para una apariencia moderna */
}

.texto p {
  line-height: 1.6;
  color: #495057; /* Gris oscuro para texto, mejor legibilidad */
}

.map {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  max-width: 100%; /* Asegura un ajuste completo dentro del contenedor */
  overflow: hidden; /* Manejo limpio del desbordamiento */
}

.map iframe {
  width: 100%; /* Total cobertura de ancho dentro del contenedor */
  height: 100%; /* Total cobertura de altura dentro del contenedor */
}

/* Pie de página */
.credito {
  text-align: center;
  background-color: #f8f9fa; /* Un fondo más claro y neutro */
  border: 1px solid #ced4da; /* Borde más suave */
  border-radius: 4px;
  padding: 10px;
}

/*Reponsive - adaptacion de formato de dispositivos*/
@keyframes saltar {
  0% {
    transform: translate(-50%, 15px);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .ContornoPrincipal {
    padding: 1em;
  }
  
  .BannerLogo img {
    max-width: 900px;
  }
  
  .OpcionesMenu li {
    padding: 0.5em;
  }
  
  .ProductosContenedores {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}



@media (max-width: 480px){
  .ProductosContenedores{
    grid-template-columns: 1 fr;
  }
}

@media (min-width: 1024px){
  .ProductosContenedores{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

@keyframes saltar {
  0% {
    transform: translateY(-15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

