/* menuPrincipal.css */

/* Ocultar menú por defecto */
.hidden {
    display: none;
}

/* Estilos para el botón de menú */
#menu-toggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #007BFF;
}

/* Estilos para la lista del menú */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Estilos para los elementos del menú */
nav ul li {
    margin: 10px 0;
}

nav ul li a, nav ul li button {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
}

.botones-container {
    margin-top: 20px;
}

.botones-container button {
    margin: 5px;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

a {
    display: inline-block;
    margin-top: 20px;
}

@media (max-width: 480px) {
    #menu-toggle {
        font-size: 20px;
    }

    nav ul {
        gap: 5px;
    }

    nav ul li a, nav ul li button {
        font-size: 16px;
    }

    .container {
        max-width: 100%;
    }

    .botones-container button {
        font-size: 12px;
    }

    button {
        padding: 6px 12px;
        font-size: 12px;
    }

    a {
        margin-top: 10px;
    }
}